body {
    text-align: center;
    font-family: Arial;
    background-color: #f5f5f5;
}

button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
}

svg {
    margin-top: 20px;
}
#traversal {
    margin-top: 10px;
    font-weight: bold;
}
body.dark {
    background-color: #121212;
    color: white;
}

body.dark button {
    background-color: #333;
    color: white;
}

body.dark input {
    background-color: #333;
    color: white;
    border: 1px solid #777;
}

body.dark svg line {
    stroke: white;
}

circle {
    transition: all 0.5s ease;
}



